<%- include('../includes/base.ejs') %>
<%- include('../includes/header.ejs') %>
<main>
    <form action="/reset" method="POST" class="form">
        <div class="wrapperInput">
            <label for="email">email</label>
            <input type="email" name="email" >
        </div>
        <div class="wrapperBtn">
            <button type="submit">updated password</button>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
</main>
<%- include('../includes/end.ejs') %>

    
