@import url("reset.css");
@import url("base.css");

@import url("header.css");

.form {
  width: 250px;
  height: 450px;
  background-color: rgb(45, 5, 46);
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
}
.wrapperInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapperInput > * {
  font-family: sans-serif;
  color: rgb(31, 28, 28);
  text-transform: uppercase;
  border-radius: 12px;
  padding: 4px;
  outline: none;
  border: none;
}
label {
  color: whitesmoke !important;
}
.wrapperBtn > * {
  font-family: sans-serif;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}
.card {
  width: 150px;
  height: 250px;
  background-color: rgba(19, 170, 82, 0.651);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  font-family: sans-serif;
  flex-direction: column;
  text-transform: uppercase;
  color: white;
  box-shadow: 6px -6px 4px 1px #ccc;
  margin: 0 8px;
}
